<div>
  <ul>
    <% @words.each() do |word| %>
      <li><a href="/word/<%= word.id() %>"><%= word.name() %></a></li>
    <% end %>
  </ul>
</div>
<form action="/index" method="post">
  <label for="word">Enter a word:</label>
  <input type="text" name="word">
  <button type="submit" name="button">Add</button>
</form>
