body {
  background-color: #e2f9ff
}

p {
  font-size: 16px
}

h1  {
  font-size: 50px
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
  width: 100%;
  border-radius: 5px;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.larger-font {
  font-size: 22px;
}

.padding-left {
  padding-left: 20px;
}

.reduce-padding-top {
  padding-top: 1px;
}

.longer-input {
  width: 400px;
}

#kid {
  font-family: 'Gloria Hallelujah', cursive;
}
